<div class="container">
  <div style="padding-top: 70px" class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Login</h4>

          <!--
      <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
      -->

          <div style="padding-top:30px" class="panel-body">

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form id="loginform" class="form-horizontal" role="form">

              <div class="form-group">
                <label for="usuario">Usuário</label>
                <input type="text" class="form-control" name="usuario" required/>
                <div class="help-block"></div>
              </div>

              <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" name="senha" required/>
                <div class="help-block"></div>
              </div>

              <!--
          <div class="input-group">
            <div class="checkbox">
              <label><input id="login-remember" type="checkbox" name="remember" value="1">Remember me</label>
            </div>
          </div>
          -->

              <div style="margin-top:10px" class="form-group">
                <a href="#" class="btn btn-primary">Login</a>
                <a href="#" class="btn btn-link">Cadastrar</a>
              </div>



            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>